@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Slabo 27px', serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('/images/background.jpg');
}

.custom-container {
    min-width: 80vh;
    min-height: 25vh;
    margin-top: 10vh;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.custom-container::before,
.custom-container::after {
    content: '';
    clear: both;
    display: table;
}

.custom-container.hide {
    display: none;
}

.menu-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu-container p {
    font-size: 20px;
    margin-bottom: 10px;
}

.question-total-count {
    
}

.button {
    padding: 10px 45px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    min-height: 42px;
    min-width: 160px;
    cursor: pointer;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    color: white;
}


.quiz-container {
    min-width: 80vh;
}

.quiz-container .question-number,
.question-content .question-content,
.question-content .answer-container,
.question-content .next-question-button,
.question-content .results-answer {
    width: 100%;
    float: left;
}

.quiz-container .question-number {
    font-size: 25px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    line-height: 15px;
    margin-bottom: 15px;
}

.quiz-container .question-content {
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 0;
}

.quiz-container .answer-container {

}

.quiz-container .answer-container .answer {
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 15px;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-container .answer-container .answer.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;

    animation: slideInLeft 0.5s ease forwards;
}
.quiz-container .answer-container .answer.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;

    animation: slideInLeft 0.5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.quiz-container .answer-container .answer.freeze {
    pointer-events: none;
}

.quiz-container .next-question-button{
    border-top: 1px solid white;
    margin-top: 20px;
}

.quiz-container .next-question-button.no-active{
    cursor: default;
}

.quiz-container .results-answer div{
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: rgba(0,0,0,0.7);
    border-top: 1px solid white;
}

.quiz-container .results-answer div.correct{
    background-color: green;
    background-image: url(./images/correct.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-container .results-answer div.wrong{
    background-color: red;
    background-image: url(./images/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.resault-container{
    text-align: center;
}

.resault-container.hide{
    display: none;
}

.resault-container h1{
    font-size: 40px;
    line-height: 42px;
}

.resault-container table{
   width: 100%;
   border-collapse: collapse;
   margin: 30px 0;

}

.resault-container table td{
   border: 1px solid white;
   padding: 10px;
   font-size: 20px;
}

.resault-container .button{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
